.sidebar{
    width: 20%;
    height: 100vh;
    background-color: #1E6BB8;
    padding: 25px 15px;
}

.logo{
    text-align: center;
    margin-bottom: 20px;
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: fit-content;
    padding: 5px 5px;
    cursor: pointer;
}

.active{
    color: #FFFFFF;
}

.active:hover{
    background-color: #64A4FF;
}

.disabled{
    color: #388FE6;
}
