.sidebar {
	width: 21%;
	height: 100vh;
	background-color: #1e6bb8;
	padding: 25px 15px;
}

.logo {
	text-align: center;
	margin-bottom: 20px;
}

.menu-item {
	display: flex;
	align-items: center;
	gap: 10px;
	background: none;
	border: none;
	font-size: 14px;
	margin-left: 15px;
	margin-bottom: 15px;
	width: fit-content;
	padding: 5px 5px;
	cursor: pointer;
}

.active {
	color: #ffffff;
}

.active:hover {
	background-color: #64a4ff;
}

.disabled {
	color: #388fe6;
}
